<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inicio" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Cuadrícula</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="cabecera">
    <div class="badge-icono">
      <ion-icon name="grid-outline"></ion-icon>
    </div>
    <div class="cabecera-texto">
      <ion-chip color="tertiary" outline="true">ion-grid</ion-chip>
    </div>
  </div>

  <div class="ion-padding">
    <div class="bloque-info">
      <h3>¿Para qué sirve?</h3>
      <p>Organiza el contenido en filas y columnas, útil para crear diseños responsivos y ordenados.</p>
    </div>

    <h3 class="titulo-demo">Ejemplo en vivo</h3>
    <div class="caja-demo">
      <ion-grid>
      <ion-row>
        <ion-col size="4" class="col-demo col-a">Col 1</ion-col>
        <ion-col size="4" class="col-demo col-b">Col 2</ion-col>
        <ion-col size="4" class="col-demo col-c">Col 3</ion-col>
      </ion-row>
    </ion-grid>
    </div>
  </div>
</ion-content>
