<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inicio" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Icono</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="cabecera">
    <div class="badge-icono">
      <ion-icon name="happy-outline"></ion-icon>
    </div>
    <div class="cabecera-texto">
      <ion-chip color="tertiary" outline="true">ion-icon</ion-chip>
    </div>
  </div>

  <div class="ion-padding">
    <div class="bloque-info">
      <h3>¿Para qué sirve?</h3>
      <p>Muestra símbolos gráficos que ayudan a comunicar acciones o significados de forma visual y rápida.</p>
    </div>

    <h3 class="titulo-demo">Ejemplo en vivo</h3>
    <div class="caja-demo">
      <ion-icon name="heart-outline" style="font-size: 32px;" color="tertiary"></ion-icon>
    <ion-icon name="star-outline" style="font-size: 32px;" color="tertiary"></ion-icon>
    <ion-icon name="thumbs-up-outline" style="font-size: 32px;" color="tertiary"></ion-icon>
    </div>
  </div>
</ion-content>
