<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inicio" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Modal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="cabecera">
    <div class="badge-icono">
      <ion-icon name="browsers-outline"></ion-icon>
    </div>
    <div class="cabecera-texto">
      <ion-chip color="tertiary" outline="true">ion-modal</ion-chip>
    </div>
  </div>

  <div class="ion-padding">
    <div class="bloque-info">
      <h3>¿Para qué sirve?</h3>
      <p>Abre una ventana emergente que cubre la pantalla para mostrar contenido adicional, como un formulario o un detalle.</p>
    </div>

    <h3 class="titulo-demo">Ejemplo en vivo</h3>
    <div class="caja-demo">
      <ion-button id="abrir-modal">Abrir modal</ion-button>
    <ion-modal trigger="abrir-modal">
      <ng-template>
        <ion-header>
          <ion-toolbar color="tertiary">
            <ion-title>Modal de ejemplo</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">Contenido dentro del modal.</ion-content>
      </ng-template>
    </ion-modal>
    </div>
  </div>
</ion-content>
