<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inicio" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Botón flotante</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="cabecera">
    <div class="badge-icono">
      <ion-icon name="add-circle-outline"></ion-icon>
    </div>
    <div class="cabecera-texto">
      <ion-chip color="tertiary" outline="true">ion-fab</ion-chip>
    </div>
  </div>

  <div class="ion-padding">
    <div class="bloque-info">
      <h3>¿Para qué sirve?</h3>
      <p>Es un botón circular flotante para la acción principal de la pantalla, como agregar un nuevo elemento.</p>
    </div>

    <h3 class="titulo-demo">Ejemplo en vivo</h3>
    <div class="caja-demo">
      <div class="contenedor-fab">
      <ion-fab vertical="bottom" horizontal="end">
        <ion-fab-button color="tertiary">
          <ion-icon name="add-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </div>
    </div>
  </div>
</ion-content>
