<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-title>Catálogo de 30 componentes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar color="tertiary">
      <ion-title size="large">Catálogo de 30 componentes</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid class="ion-padding">
    <ion-row>
      <ion-col size="6" size-md="4">
        <ion-card routerLink="/button" button="true" class="tarjeta-componente">
          <ion-card-content>
            <ion-icon name="radio-button-on-outline"></ion-icon>
            <ion-label>Botón</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6" size-md="4">
        <ion-card routerLink="/input" button="true" class="tarjeta-componente">
          <ion-card-content>
            <ion-icon name="create-outline"></ion-icon>
            <ion-label>Campo de texto</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6" size-md="4">
        <ion-card routerLink="/textarea" button="true" class="tarjeta-componente">
          <ion-card-content>
            <ion-icon name="reader-outline"></ion-icon>
            <ion-label>Área de texto</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6" size-md="4">
        <ion-card routerLink="/checkbox" button="true" class="tarjeta-componente">
          <ion-card-content>
            <ion-icon name="checkbox-outline"></ion-icon>
            <ion-label>Casilla de verificación</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6" size-md="4">
        <ion-card routerLink="/radio" button="true" class="tarjeta-componente">
          <ion-card-content>
            <ion-icon name="ellipse-outline"></ion-icon>
            <ion-label>Botón de radio</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6" size-md="4">
        <ion-card routerLink="/select" button="true" class="tarjeta-componente">
          <ion-card-content>
            <ion-icon name="list-outline"></ion-icon>
            <ion-label>Selector</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6" size-md="4">
        <ion-card routerLink="/toggle" button="true" class="tarjeta-componente">
          <ion-card-content>
            <ion-icon name="toggle-outline"></ion-icon>
            <ion-label>Interruptor</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6" size-md="4">
        <ion-card routerLink="/range" button="true" class="tarjeta-componente">
          <ion-card-content>
            <ion-icon name="options-outline"></ion-icon>
            <ion-label>Rango deslizante</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6" size-md="4">
        <ion-card routerLink="/datetime" button="true" class="tarjeta-componente">
          <ion-card-content>
            <ion-icon name="calendar-outline"></ion-icon>
            <ion-label>Selector de fecha</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6" size-md="4">
        <ion-card routerLink="/searchbar" button="true" class="tarjeta-componente">
          <ion-card-content>
            <ion-icon name="search-outline"></ion-icon>
            <ion-label>Barra de búsqueda</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6" size-md="4">
        <ion-card routerLink="/card" button="true" class="tarjeta-componente">
          <ion-card-content>
            <ion-icon name="albums-outline"></ion-icon>
            <ion-label>Tarjeta</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6" size-md="4">
        <ion-card routerLink="/list" button="true" class="tarjeta-componente">
          <ion-card-content>
            <ion-icon name="reorder-four-outline"></ion-icon>
            <ion-label>Lista</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6" size-md="4">
        <ion-card routerLink="/grid" button="true" class="tarjeta-componente">
          <ion-card-content>
            <ion-icon name="grid-outline"></ion-icon>
            <ion-label>Cuadrícula</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6" size-md="4">
        <ion-card routerLink="/badge" button="true" class="tarjeta-componente">
          <ion-card-content>
            <ion-icon name="pricetag-outline"></ion-icon>
            <ion-label>Insignia</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6" size-md="4">
        <ion-card routerLink="/chip" button="true" class="tarjeta-componente">
          <ion-card-content>
            <ion-icon name="pricetags-outline"></ion-icon>
            <ion-label>Chip</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6" size-md="4">
        <ion-card routerLink="/avatar" button="true" class="tarjeta-componente">
          <ion-card-content>
            <ion-icon name="person-circle-outline"></ion-icon>
            <ion-label>Avatar</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6" size-md="4">
        <ion-card routerLink="/thumbnail" button="true" class="tarjeta-componente">
          <ion-card-content>
            <ion-icon name="image-outline"></ion-icon>
            <ion-label>Miniatura</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6" size-md="4">
        <ion-card routerLink="/icon" button="true" class="tarjeta-componente">
          <ion-card-content>
            <ion-icon name="happy-outline"></ion-icon>
            <ion-label>Icono</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6" size-md="4">
        <ion-card routerLink="/segment" button="true" class="tarjeta-componente">
          <ion-card-content>
            <ion-icon name="swap-horizontal-outline"></ion-icon>
            <ion-label>Segmento</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6" size-md="4">
        <ion-card routerLink="/accordion" button="true" class="tarjeta-componente">
          <ion-card-content>
            <ion-icon name="chevron-down-circle-outline"></ion-icon>
            <ion-label>Acordeón</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6" size-md="4">
        <ion-card routerLink="/alert" button="true" class="tarjeta-componente">
          <ion-card-content>
            <ion-icon name="alert-circle-outline"></ion-icon>
            <ion-label>Alerta</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6" size-md="4">
        <ion-card routerLink="/toast" button="true" class="tarjeta-componente">
          <ion-card-content>
            <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
            <ion-label>Toast</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6" size-md="4">
        <ion-card routerLink="/modal" button="true" class="tarjeta-componente">
          <ion-card-content>
            <ion-icon name="browsers-outline"></ion-icon>
            <ion-label>Modal</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6" size-md="4">
        <ion-card routerLink="/popover" button="true" class="tarjeta-componente">
          <ion-card-content>
            <ion-icon name="chatbox-outline"></ion-icon>
            <ion-label>Popover</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6" size-md="4">
        <ion-card routerLink="/action-sheet" button="true" class="tarjeta-componente">
          <ion-card-content>
            <ion-icon name="menu-outline"></ion-icon>
            <ion-label>Hoja de acciones</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6" size-md="4">
        <ion-card routerLink="/progress-bar" button="true" class="tarjeta-componente">
          <ion-card-content>
            <ion-icon name="hourglass-outline"></ion-icon>
            <ion-label>Barra de progreso</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6" size-md="4">
        <ion-card routerLink="/spinner" button="true" class="tarjeta-componente">
          <ion-card-content>
            <ion-icon name="sync-outline"></ion-icon>
            <ion-label>Spinner</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6" size-md="4">
        <ion-card routerLink="/fab" button="true" class="tarjeta-componente">
          <ion-card-content>
            <ion-icon name="add-circle-outline"></ion-icon>
            <ion-label>Botón flotante</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6" size-md="4">
        <ion-card routerLink="/skeleton-text" button="true" class="tarjeta-componente">
          <ion-card-content>
            <ion-icon name="layers-outline"></ion-icon>
            <ion-label>Texto esqueleto</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6" size-md="4">
        <ion-card routerLink="/breadcrumbs" button="true" class="tarjeta-componente">
          <ion-card-content>
            <ion-icon name="navigate-outline"></ion-icon>
            <ion-label>Migas de pan</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
